@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{ 
	padding:0px; 
	margin:0px; 
	font-family: "Roboto", sans-serif; 
	background-color:#7094db;
}

.p-panel{ position: absolute; transform: translate(-50%, -50%); top: 50%; left:50%;  }
.p-box{ background-color: #f2f2f2; padding: 40px; border-radius: 6px; width: 300px; box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 15px 0px; }
.p-label{ margin-bottom: 5px; margin-left:5px; }
.p-input{ width:100%; padding: 10px; border-radius: 4px; border: 1px solid #ccc; box-sizing:border-box; outline: none; margin-top: 5px; margin-bottom: 20px; }
.p-checkbox{ margin-bottom: 15px; width: 18px; height: 18px;  }
.p-checkbox-text{ position: relative; top: -4px; left: 6px; }
.p-button{ width: 100%; font-size:16px; padding: 20px; border-radius: 3px; cursor: pointer; background-color:#53c653; color: #fff; margin-top:20px; outline: none; border:none; }
.p-button:active{ background-color: #40bf40; }
.p-center{ display: flex; align-items: center; }
.p-title{ color: #444; font-size: 25px; text-align: center; margin-top:0px; margin-bottom:10px; text-transform:uppercase; }
.p-display{ padding: 20px; font-size: 30px; color: #333; margin-bottom:10px; text-align:center; overflow-wrap: break-word;  }